*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #ae93c5 0%, #701fb3 100%);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
  border-bottom: 6px solid #222222;
  border-left: 4px solid #222222;
  border-right: 4px solid #222222;
  border-top: 1px solid #222222;
  border-radius: 0.2rem;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
  border-bottom: 14px solid #c9c8c8;
  transition: .1s;
}

.white.active {
  transition: .1s;
  background-color: #CCC;
  border-bottom: 14px solid #b1b0b0;
}

.black {
  --width: 60px;
  background-color: #0c0c0c;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  transition: .1s;
  padding-top: 1rem;
  border-bottom: 14px solid #000000;
}

.black.active {
  transition: .1s;
  background-color: #333;
  border-bottom: 14px solid #0f0f0f;
}
